# Папка с расширениями не будет игнорится для того что бы можно было на других ветках их сохранять
# Поэтому лучше не оставлять их в main

# Содержит сгенерированные приложением данные
/data/**
!/data/.htaccess
!/data/index.php
!/data/web.config
!/data/exclude.txt
!/data/.compilation-symlinks

# Содержит файлы журнала приложения
/log/**
!/log/.htaccess
!/log/index.php
!/log/web.config

# Эти папки (по одной на среду) содержат «скомпилированную» модель данных
/env-*

# Конфигурационные файлы которые меняются при установке или обновлении
/conf/**

# Остальное
css/backoffice/main.css
