# Содержит сгенерированные приложением данные
/data/**
!/data/.htaccess
!/data/index.php
!/data/web.config
!/data/exclude.txt
!/data/.compilation-symlinks

# Содержит файлы журнала приложения
/log/**
!/log/.htaccess
!/log/index.php
!/log/web.config

# Эти папки (по одной на среду) содержат «скомпилированную» модель данных
/env-*

